<div ng-controller="AjouterAmisControleur" class="col-md-6 AjouterAMis">
  <table class='table ajouerAmis table-striped'>

    <h2>Ajouter un Ami</h2>

    <div  class="col-md-6" >
    	Nom : <input class='form-control' name="inputAmi" ng-model="nomUtilisateur" placeholder="Saisir nouvel ami" required="obligatoire">
    	<div ng-show="nomUtilisateur.length > 1">
	      <ng-form class='amisTrans' id="nameT" ng-repeat="utilisateur in utilisateurs | filter: nomUtilisateur">
	  			<p> {{utilisateur.nom}} : {{utilisateur.mel}}</p> 
	  			<button type="submit" class= "btn btn-primary" ng-click="ajouterAmi(utilisateur._id)">+</button>
	  	  </ng-form>
    	</div>

	</div>

  </table>
</div>