body {
  padding-top: 50px;
}

.transaction {
	background-color: purple;
	color: white;
	border-radius: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
	text-align: center;
}

.ajouterTransaction {
	float: right;
}

.solde {
	float: left;
}

.reception, .historique {
  text-align: center;
}


.amisTrans {
  display: inline-block;
  margin: 3px;
  padding: 3px;
  background-color: #9BD9D9;
  width: 170px;
  height: 100px;
  text-align: center;
  border-radius: 10px;
}