<nav ng-controller="NavbarLoginControleur" class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#/">Splitwise</a>
    </div>
    <form class="navbar-form navbar-right">
      <div class="form-group">
        <input ng-model="mel" type="text" placeholder="Mél" class="form-control">
      </div>
      <div class="form-group">
        <input ng-model="motDePasse" type="password" placeholder="Mot de Passe" class="form-control">
      </div>
      <button ng-click="envoyerLogin()" class="btn btn-success"> Se Connecter </button>
      <button ng-click="pageInscription()" class="btn btn-info"> Inscription </button>
    </form>
  </div>
</nav>