
<div ng-controller="TransactionNouvelleControleur" class="col-md-6 transactionNouvelle">
  <table class='table transaction table-striped'>
  <center><h3>
   Création d'une nouvelle Transaction
  </h3></center>
  	
  <ng-form name="FormTransac"  class="maTransac">
  	Cette transaction est établie entre:<br/><br/>
  		Nom : <input name="inputName" ng-model="nomAjouter" placeholder="Saisir votre nom" required="obligatoire">
  		<div ng-repeat="nom in noms" id="nameT" >
  			{{nom}}
  		</div>
      <ng-form ng-repeat="nom in noms" id="nomListe" >
        <ng-form ng-repeat="n in nom.amis" id="nomListe" >
              {{n.nom}}
        </ng-form>
      </ng-form>

  		<button class="btn btn-primary btn-block" ng-click="ajouterNom()"> + Participant </button>
  		<br/>
  		<label for="Description"> Description: </label> <br/>
  		<textarea ng-model="description" required="obligatoire"> ... </textarea>
  		<br/><br/>
  		<label for="Montant"> Montant: </label> <br/>
  		<input type="number" min="0.00" max="9999999999.99" ng-model="montant" required="obligatoire">  </input>
  		<br/><br/>
  		 Payé par:
  		<select name="SelectParticipantRembourse" ng-model="participantRembourse">
	      <option ng-repeat="nom in noms">{{nom}}</option>
	    </select><br/><br/>
  		<br/><br/>
  		<label for="SelectTypeTransac"> Sélectionner le type de transaction: </label> <br/>
	    <select name="SelectTypeTransac" ng-model="typeTransaction">
	      <option value="exacte">Exacte</option>
	      <option value="equitable">Equitable</option>
	    </select><br/><br/>
  		<button class="btn btn-primary btn-block" ng-click="sauvegarder()"> Sauvegarder </button>

  </ng-form>
  </table>
</div>
